
bin/Debug/net48/


installer/WorkOrderBlender.wixpdb

dist/WorkOrderBlender-1.2.0-portable/WorkOrderBlender.log

dist/WorkOrderBlender-1.2.0-portable/WorkOrderBlender.pdb

bin/Release/

bin/x64/

obj/
