<?xml version="1.0"?>
<UserConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DefaultRoot>M:\Homestead_Library\Work Orders</DefaultRoot>
  <DefaultOutput>M:\Homestead_Library\Work Orders</DefaultOutput>
  <ColumnWidths>
    <ColumnWidthEntry>
      <TableName>Products</TableName>
      <ColumnName>RoomName</ColumnName>
      <Width>194</Width>
    </ColumnWidthEntry>
    <ColumnWidthEntry>
      <TableName>Products</TableName>
      <ColumnName>Name</ColumnName>
      <Width>229</Width>
    </ColumnWidthEntry>
    <ColumnWidthEntry>
      <TableName>Products</TableName>
      <ColumnName>ProductSpecGroupName</ColumnName>
      <Width>155</Width>
    </ColumnWidthEntry>
    <ColumnWidthEntry>
      <TableName>Products</TableName>
      <ColumnName>Comments</ColumnName>
      <Width>208</Width>
    </ColumnWidthEntry>
    <ColumnWidthEntry>
      <TableName>Products</TableName>
      <ColumnName>Quantity</ColumnName>
      <Width>58</Width>
    </ColumnWidthEntry>
    <ColumnWidthEntry>
      <TableName>Products</TableName>
      <ColumnName>ItemNumber</ColumnName>
      <Width>59</Width>
    </ColumnWidthEntry>
    <ColumnWidthEntry>
      <TableName>Parts</TableName>
      <ColumnName>Code</ColumnName>
      <Width>55</Width>
    </ColumnWidthEntry>
    <ColumnWidthEntry>
      <TableName>Parts</TableName>
      <ColumnName>Name</ColumnName>
      <Width>374</Width>
    </ColumnWidthEntry>
    <ColumnWidthEntry>
      <TableName>Parts</TableName>
      <ColumnName>MaterialName</ColumnName>
      <Width>171</Width>
    </ColumnWidthEntry>
    <ColumnWidthEntry>
      <TableName>Subassemblies</TableName>
      <ColumnName>Name</ColumnName>
      <Width>285</Width>
    </ColumnWidthEntry>
    <ColumnWidthEntry>
      <TableName>Parts</TableName>
      <ColumnName>#</ColumnName>
      <Width>54</Width>
    </ColumnWidthEntry>
  </ColumnWidths>
  <ColumnOrders>
    <ColumnOrderEntry>
      <TableName>Products</TableName>
      <Columns>
        <string>RoomName</string>
        <string>Name</string>
        <string>ItemNumber</string>
        <string>Quantity</string>
        <string>Width</string>
        <string>Height</string>
        <string>Depth</string>
        <string>Comments</string>
        <string>ProductSpecGroupName</string>
        <string>LinkID</string>
        <string>ActivityPath</string>
        <string>LinkIDWorkOrder</string>
        <string>Angle</string>
        <string>Comments1</string>
        <string>Comments2</string>
        <string>Comments3</string>
        <string>CopiedLinkIDList</string>
        <string>DateShipped</string>
        <string>DrawIndex</string>
        <string>Extruded</string>
        <string>ID</string>
        <string>IsBuyOut</string>
        <string>JPegName</string>
        <string>JPegStream</string>
        <string>LinkIDCategory</string>
        <string>LinkIDLibrary</string>
        <string>LinkIDLocation</string>
        <string>LinkIDProductGroup</string>
        <string>LinkIDProject</string>
        <string>LinkIDRelease</string>
        <string>LinkIDSpecificationGroup</string>
        <string>LinkIDWall</string>
        <string>Modified</string>
        <string>PerfectGrainChar</string>
        <string>PrintFlag</string>
        <string>PrintFlags</string>
        <string>QuantityShipped</string>
        <string>QuoteName</string>
        <string>RoomComponentType</string>
        <string>Row_ID</string>
        <string>ScanCode</string>
        <string>ShippingTicketName</string>
        <string>TiffName</string>
        <string>TiffStream</string>
        <string>Type</string>
        <string>UITreeFilter</string>
        <string>WMFName</string>
        <string>WMFStream</string>
        <string>WorkBook</string>
        <string>WorkOrderName</string>
        <string>X</string>
        <string>Y</string>
        <string>Z</string>
        <string>ActivityPathShort</string>
        <string>AncorType</string>
      </Columns>
    </ColumnOrderEntry>
    <ColumnOrderEntry>
      <TableName>Parts</TableName>
      <Columns>
        <string>#</string>
        <string>PerfectGrainCaption</string>
        <string>Name</string>
        <string>TotalQuantity</string>
        <string>Width</string>
        <string>AdjustedCutPartLength</string>
        <string>AdjustedCutPartWidth</string>
        <string>Barcode</string>
        <string>BasePoint</string>
        <string>Thickness</string>
        <string>BasePointX</string>
        <string>BasePointY</string>
        <string>BasePointZ</string>
        <string>Code</string>
        <string>Length</string>
        <string>MaterialThickness</string>
        <string>MaterialXData1</string>
        <string>CodeFormula</string>
        <string>Comments</string>
        <string>Comments1</string>
        <string>Comments2</string>
        <string>MaterialName</string>
        <string>Comments3</string>
        <string>ID</string>
        <string>CutPartLength</string>
        <string>LinkID</string>
        <string>LinkIDWorkOrder</string>
        <string>CutPartWidth</string>
        <string>DontIncludeRoutesinNestBorder</string>
        <string>LinkIDProduct</string>
        <string>LinkIDSubAssembly</string>
        <string>DrawToken2DElv</string>
        <string>DrawToken3D</string>
        <string>DXFFileName</string>
        <string>EdgeNameBottom</string>
        <string>EdgeNameBottomWMF</string>
        <string>EdgeNameLeft</string>
        <string>EdgeNameLeftWMF</string>
        <string>EdgeNameRight</string>
        <string>EdgeNameRightWMF</string>
        <string>HatchType</string>
        <string>HboreBarcodeLeft</string>
        <string>HboreBarcodeLower</string>
        <string>HboreBarcodeRight</string>
        <string>HboreBarcodeUpper</string>
        <string>HboreFileNameLeft</string>
        <string>HboreFileNameLower</string>
        <string>HboreFileNameRight</string>
        <string>HboreFileNameUpper</string>
        <string>EdgeNameTop</string>
        <string>Index</string>
        <string>InventoryAvailableQty</string>
        <string>InventoryCurrentQty</string>
        <string>InventoryMinQty</string>
        <string>LinkIDBottomFaceRendering</string>
        <string>LinkIDCategory</string>
        <string>LinkIDCoreRendering</string>
        <string>LinkIDDefaultVendor</string>
        <string>LinkIDEQPart</string>
        <string>LinkIDMaterial</string>
        <string>Location1</string>
        <string>Location2</string>
        <string>MachinePoint</string>
        <string>MarkUp</string>
        <string>MarkUpFormula</string>
        <string>MaterialCode</string>
        <string>MaterialXData1Formula</string>
        <string>MaterialXData2</string>
        <string>MaterialXData2Formula</string>
        <string>MaterialXData3</string>
        <string>OverProductionQuantity</string>
        <string>OverridePartCutLength</string>
        <string>OverridePartCutThickness</string>
        <string>OverridePartCutWidth</string>
        <string>Par1</string>
        <string>Par2</string>
        <string>Par3</string>
        <string>PartType</string>
        <string>PrintFlag</string>
        <string>Quantity</string>
        <string>Region</string>
        <string>RotationX</string>
        <string>RotationY</string>
        <string>RotationZ</string>
        <string>Row_ID</string>
        <string>RunFieldNameFace5</string>
        <string>Type</string>
        <string>UDID</string>
        <string>UnderProductionQuantity</string>
        <string>UnitType</string>
        <string>VendorCost</string>
        <string>WMFName</string>
        <string>WMFNameFace6</string>
        <string>WMFStream</string>
        <string>WMFStreamDimensioned</string>
        <string>WMFStreamFace6</string>
        <string>WMFStreamFace6Dimensioned</string>
        <string>XD01</string>
        <string>XD02</string>
        <string>XD03</string>
        <string>XD04</string>
        <string>XD05</string>
        <string>XD06</string>
        <string>XD07</string>
        <string>XD08</string>
        <string>XD09</string>
        <string>XD10</string>
        <string>XD11</string>
        <string>XD12</string>
        <string>XD13</string>
        <string>XD14</string>
        <string>XD15</string>
        <string>XD16</string>
        <string>XD17</string>
        <string>XD18</string>
        <string>WasteFactor</string>
        <string>RunFieldNameFace6</string>
        <string>ScanCode</string>
        <string>MaterialXData3Formula</string>
        <string>MaterialComments</string>
        <string>MaterialCommentsFormula</string>
        <string>MaterialFlipSetting</string>
        <string>LinkIDTopFaceRendering</string>
        <string>LinkIDProject</string>
        <string>LinkIDParentSubAssembly</string>
        <string>IrregularShape</string>
        <string>IsFormulaMaterial</string>
        <string>EdgeNameTopWMF</string>
        <string>EdgeSequence</string>
        <string>Face6Barcode</string>
        <string>Face6FileName</string>
        <string>FileName</string>
        <string>FinishPriority</string>
        <string>FullFace6FileName</string>
        <string>FullFileName</string>
        <string>Grain</string>
        <string>GrainFormula</string>
        <string>HandlingCode</string>
        <string>HandlingCodeFormula</string>
        <string>JPegStream</string>
        <string>WasteFactorFormula</string>
        <string>LabelPosition</string>
        <string>LinkIDProcessingStations</string>
        <string>LinkIDSheetSize</string>
        <string>LinkIDVendor</string>
        <string>MaterialLaborValue</string>
        <string>MaterialLaborValueFormula</string>
        <string>MaterialType</string>
        <string>Modified</string>
        <string>TiffStream</string>
        <string>SkipSpreadsheetSync</string>
        <string>RemoveRoutesOutsideBorder</string>
      </Columns>
    </ColumnOrderEntry>
    <ColumnOrderEntry>
      <TableName>Subassemblies</TableName>
      <Columns>
        <string>#</string>
        <string>Name</string>
        <string>PerfectGrainCaption</string>
        <string>Comments</string>
        <string>Comments1</string>
        <string>Comments2</string>
        <string>Comments3</string>
        <string>ContainsSubassemblies</string>
        <string>Depth</string>
        <string>DrawIndex</string>
        <string>Height</string>
        <string>IsBuyOut</string>
        <string>JPegName</string>
        <string>JPegStream</string>
        <string>LinkID</string>
        <string>LinkIDCategory</string>
        <string>LinkIDLibrary</string>
        <string>LinkIDParentProduct</string>
        <string>LinkIDParentSubassembly</string>
        <string>LinkIDProject</string>
        <string>LinkIDWorkOrder</string>
        <string>Modified</string>
        <string>ModifiedRowID</string>
        <string>Quantity</string>
        <string>ScanCode</string>
        <string>TiffName</string>
        <string>TiffStream</string>
        <string>Type</string>
        <string>Width</string>
        <string>WMFName</string>
        <string>WMFStream</string>
        <string>WorkBook</string>
        <string>X</string>
        <string>Y</string>
        <string>Z</string>
        <string>ID</string>
        <string>ActivityPath</string>
        <string>ActivityPathShort</string>
        <string>Angle</string>
        <string>BayPosition</string>
      </Columns>
    </ColumnOrderEntry>
  </ColumnOrders>
  <ColumnVisibilities>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>Index</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>DrawToken2DElv</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>DrawToken3D</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>HatchType</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>DontIncludeRoutesinNestBorder</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>HboreFileNameLeft</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>HboreFileNameLower</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>HboreFileNameRight</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>HboreFileNameUpper</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>MachinePoint</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>MarkUp</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>PrintFlag</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Subassemblies</TableName>
      <ColumnName>ModifiedRowID</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Subassemblies</TableName>
      <ColumnName>Modified</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Subassemblies</TableName>
      <ColumnName>DrawIndex</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>SkipSpreadsheetSync</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>RemoveRoutesOutsideBorder</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
    <ColumnVisibilityEntry>
      <TableName>Parts</TableName>
      <ColumnName>Quantity</ColumnName>
      <IsVisible>false</IsVisible>
    </ColumnVisibilityEntry>
  </ColumnVisibilities>
  <VirtualColumns>
    <VirtualColumnDef>
      <TableName>Parts</TableName>
      <ColumnName>#</ColumnName>
      <TargetTableName>Products</TargetTableName>
      <LocalKeyColumn>LinkIDProduct</LocalKeyColumn>
      <TargetKeyColumn>LinkID</TargetKeyColumn>
      <TargetValueColumn>ItemNumber</TargetValueColumn>
    </VirtualColumnDef>
    <VirtualColumnDef>
      <TableName>Subassemblies</TableName>
      <ColumnName>#</ColumnName>
      <TargetTableName>Products</TargetTableName>
      <LocalKeyColumn>LinkIDParentProduct</LocalKeyColumn>
      <TargetKeyColumn>LinkID</TargetKeyColumn>
      <TargetValueColumn>ItemNumber</TargetValueColumn>
    </VirtualColumnDef>
  </VirtualColumns>
</UserConfig>
